*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: registro;
    src: url(../fuentes/roboto/Roboto-Regular.ttf);
}

main{
font-family: registro;
font-weight: 500 !important;
}

main .botonv{
    background-color:#39a900 !important;
    color: black  !important;
    font-weight: bold !important;
}